<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>超强截图</string>
	<key>CFBundleExecutable</key>
	<string>SuperScreenshot</string>
	<key>CFBundleIconFile</key>
	<string>SuperScreenshot</string>
	<key>CFBundleIdentifier</key>
	<string>com.lion.superscreenshot.screenkit</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>ja</string>
		<string>ko</string>
		<string>ar</string>
	</array>
	<key>CFBundleName</key>
	<string>超强截图</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.29</string>
	<key>CFBundleVersion</key>
	<string>182</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSScreenCaptureUsageDescription</key>
	<string>超强截图需要读取屏幕内容以完成区域截图和长截图。</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/lwghb/SuperScreenshot/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>SuaYnOZwQUQGUJm4ejqhc+TBhACZqgjEHcZWBcXBSb0=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
